/* topic-name-slide  */
section.topic-name-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* pros-cons-section */
.pros-cons-section {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.pros-cons-section > p {
    font-size: 2rem;
    font-weight: bold;
}

/* navigation libraries */
.navigation-libraries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation-libraries-text {
    height: 40vh;
}
.navigation-libraries-images {
    height: 40vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* centered text */
.column-container-centred {
    display: flex;
    flex-direction: column;
    align-items: center
}
.column-container-centred > p {
    font-size: 1.5rem;
}

/* nesting navigators slide */
.nesting-navigators-slide > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nesting-navigators-slide > div > div {
    width: 40%;
}

/* header bar slide */
.header-bar-slide > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-bar-slide > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.header-bar-slide > div > div > p {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: center !important;
}
.header-bar-slide > div > div > img {
    width: 30vw;
}

/* deep linking slide */
.deep-linking-slide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.deep-linking-slide > div > p {
    text-align: center !important;
}
.deep-linking-slide > div > img {
    max-height: 50%
}

/* frame */
.frame {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.5rem;
    text-align: left;
}

/* backgrounds */
.background-colored-gray-1 {
    background-color: whitesmoke;
}

