/* Slide layout */

section {
  margin-bottom: 50px;
  display: flex;
}

section *:not(section) {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slides {
  overflow-y: scroll !important;
  pointer-events: auto !important;
  overflow-x: hidden !important;
}

.slides .layout {
  display: flex;
  justify-content: space-between;
}

.slides .width-100 {
  width: calc(100% - 40px);
}

.slides .width-90 {
  width: calc(90% - 40px);
}

.slides .width-80 {
  width: calc(80% - 40px);
}

.slides .width-70 {
  width: calc(70% - 40px);
}

.slides .width-60 {
  width: calc(60% - 40px);
}

.slides .width-50 {
  width: calc(500% - 40px);
}

.slides .width-40 {
  width: calc(40% - 40px);
}

.slides .width-30 {
  width: calc(30% - 40px);
}

.slides .width-25 {
  width: calc(25% - 40px);
}

.slides .width-20 {
  width: calc(20% - 40px);
}

.slides .height-100 {
  height: 100%;
}

.slides .height-90 {
  height: 90vh;
}

.slides .height-80 {
  height: 80vh;
}

.slides .height-70 {
  max-height: 70vh;
}

.slides .height-60 {
  height: 60vh;
}

.slides .info-section {
  padding-bottom: 15px;
}

.slides .flex-container {
  display: flex !important;
}

.slides .flex-item-horizontal-center {
  margin: auto !important;
}

/* Typography */

.slide-name {
  background-color: #39c2d7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.slides p {
  text-align: justify !important;
}

.slides .align-center {
  text-align: center;
}

.slides .font-size-1 {
  font-size: 1rem;
}

.slides .font-size-1-3 {
  font-size: 1.3rem;
}

.slides .font-size-1-5 {
  font-size: 1.5rem;
}

.slides .font-size-2 {
  font-size: 2rem;
}

.slides .font-size-2-5 {
  font-size: 2.5rem;
}

.slides .font-size-3 {
  font-size: 3rem;
}

.slides .text-info {
  text-align: left;
}

.slides .points-list {
  display: block;
  margin: 0;
  padding-left: 22px;
}

.slides .points-list li {
  font-size: 1.5rem;
  list-style-type: none;
}

.slides .points-list.circle li {
  font-size: 1.5rem;
  list-style-type: circle;
}

.slides .video-title {
  margin-top: 0;
  font-size: 2rem;
}

.slides .info-title {
  text-align: left;
}

/* Decorations */

.slides .framed-1 {
  border: 1px solid grey;
}

.slides .framed-2 {
  border: 2px solid grey;
}

.slides .framed-card {
  padding: 20px 10px;
  border-radius: 10px;
}

.slides .framed-bottom-white-1,
.slides .framed-bottom-white-1 td {
  border-bottom: 1px solid white;
}

.slides .framed-right-white-1 td,
.slides .framed-right-white-1 th {
  border-right: 1px solid white;
}

.slides .framed-bottom-white-2 {
  border-bottom: 2px solid white;
}

.slides .background-colored-blue-1 {
  background-color: lightskyblue;
}

.slides .background-colored-blue-2 {
  background-color: lightsteelblue;
}

.slides .background-colored-blue-3 {
  background-color: aliceblue;
}
