section *:not(section) {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 1000px) {
  section *:not(section) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Typography */

.slides p {
  text-align: justify !important;
  font-size: 1.5rem;
  overflow: hidden;
}

li {
  font-size: 2rem;
}

pre {
  box-shadow: none !important;
}

pre * {
  font-size: 1.5rem !important;
}

@media only screen and (max-width: 1000px) {
  .slides p {
    text-align: justify !important;
    font-size: 1rem;
  }
  li {
    font-size: 1.5rem;
  }
  pre * {
    font-size: 0.8rem !important;
  }
}

img {
  /* max-width: 100%;
  max-height: 100%; */
  object-fit: contain;
}

.slides {
  /* overflow-y: scroll !important;
  pointer-events: auto !important;
  overflow-x: hidden !important; */
}

/* typical slides */

/* slide-name */
.slide-name {
  background-color: #39c2d7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  color: azure !important;
  font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
  .slide-name {
    font-size: 1.5rem !important;
  }
}

/* qa-slide + presentation-name-slide */
.slides > .presentation-name-slide,
.slides > .qa-slide {
  display: flex !important;
  height: 100%;
  background-color: #39c2d7;
}
.slides > .presentation-name-slide > *,
.slides > .qa-slide > * {
  margin: auto !important;
  font-size: 3rem;
  color: azure;
}

/* agenda-slide */
.slides > .agenda-slide > ul {
  margin: auto !important;
}
@media only screen and (max-width: 1000px) {
  .slides > .agenda-slide > ul {
    margin-left: 30px !important;
  }
}

/* picture-slide */
.slides > .picture-slide {
  display: flex !important;
  flex-direction: column;
  height: 80vh;
}
.slides > .picture-slide > img {
  margin: auto !important;
}

/* text-and-picture-slide */
.slides > .text-and-picture-slide > div {
  display: flex !important;
}

.slides > .text-and-picture-slide > div > img {
  max-width: 50% !important;
  align-self: flex-start !important;
  max-height: 70vh;
}

@media only screen and (max-width: 1000px) {
  .slides > .text-and-picture-slide > div > img {
    margin: auto !important;
  }
  .slides > .text-and-picture-slide > div {
    flex-direction: column;
  }
}

/* text-slide */
.slides > .text-slide {
  display: flex !important;
  flex-direction: column;
  height: 80vh;
}
.slides > .text-slide > p {
  margin: auto !important;
}

/* text-and-conding-slide */

.slides > .text-and-conding-slide {
  display: flex !important;
  flex-direction: column;
  margin: auto !important;
  justify-content: space-around;
}
.slides > .text-and-conding-slide pre {
  box-shadow: none;
  width: calc(100% - 40px); /* 40 = section *:not(section) padding */
}

@media only screen and (max-width: 1000px) {
  .slides > .text-and-conding-slide pre {
    width: calc(100% - 10px); /* 10 = section *:not(section) padding */
  }
}

/* bullets-slide */
.slides > .bullets-slide > ul {
  width: calc(100% - 40px); /* 40 = section *:not(section) padding */
}

@media only screen and (max-width: 1000px) {
  .slides > .bullets-slide > ul {
    width: calc(100% - 60px); /* 10 = section *:not(section) padding */
  }
}

/* numbering-slide */
.slides > .numbering-slide > ol {
  width: calc(100% - 40px);
}

@media only screen and (max-width: 1000px) {
  .slides > .numbering-slide > ol {
    width: calc(100% - 60px);
  }
}

/* numbering-and-schema-slide */
.slides > .numbering-and-schema-slide > div {
  display: flex !important;
}

.slides > .numbering-and-schema-slide > div > img {
  max-width: 50% !important;
  align-self: flex-start !important;
  max-height: 70vh;
}

@media only screen and (max-width: 1000px) {
  .slides > .numbering-and-schema-slide > div > img {
    margin: auto !important;
    max-height: 30vh;
  }
  .slides > .numbering-and-schema-slide > div {
    flex-direction: column;
  }
}

/* video-slide */
.slides > .video-slide {
  display: flex !important;
  flex-direction: column;
}

.slides > .video-slide > div {
  display: flex !important;
}
.slides > .video-slide > div > * {
  width: 50%;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}
.slides > .video-slide iframe {
  width: 90%;
  height: 70%;
}

@media only screen and (max-width: 1000px) {
  .slides > .video-slide > div {
    flex-direction: column;
  }
  .slides > .video-slide > div > * {
    width: 100%;
  }
}

/* several-pictures-3-slide */
/* several-pictures-4-slide */

.slides > .several-pictures-2-slide > div,
.slides > .several-pictures-3-slide > div,
.slides > .several-pictures-4-slide > div {
  display: flex !important;
  height: 80vh;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .slides > .several-pictures-2-slide > div,
  .slides > .several-pictures-3-slide > div,
  .slides > .several-pictures-4-slide > div {
    flex-direction: column;
  }
  .slides > .several-pictures-2-slide > div > * {
    max-height: 46vh;
  }
  .slides > .several-pictures-2-slide > div > * > * {
    max-height: 45vh;
  }
  .slides > .several-pictures-3-slide > div > * {
    max-height: 26vh;
  }
  .slides > .several-pictures-3-slide > div > * > * {
    max-height: 25vh;
  }
  .slides > .several-pictures-4-slide > div > * {
    max-height: 21vh;
  }
  .slides > .several-pictures-4-slide > div > * > * {
    max-height: 20vh;
  }
}

/* text-conding-video-slide */
.slides > .text-conding-video-slide > div {
  display: flex !important;
  max-height: 40vh;
}
.slides > .text-conding-video-slide > div > pre {
  overflow: scroll;
}
.slides > .text-conding-video-slide > div > * {
  width: 50%;
}
@media only screen and (max-width: 1000px) {
  .slides > .text-conding-video-slide > div {
    flex-direction: column;
  }
  .slides > .text-conding-video-slide > div > * {
    height: 25vh;
    width: 100%;
  }
  .slides > .text-conding-video-slide > div > pre code {
    height: 25vh;
  }
}
.slides > .text-conding-video-slide pre * {
  font-size: 1rem !important;
}

/* table-slide */
.slides > .table-slide > table > thead {
  background-color: lightskyblue;
  font-size: 1rem;
}
.slides > .table-slide > table * {
  font-size: 1.5rem;
}
.slides > .table-slide > table > thead {
  background-color: lightskyblue;
}
.slides > .table-slide > table tr:nth-child(even) {
  background-color: lightsteelblue;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .slides > .table-slide > table {
    width: calc(100% - 20px);
  }
  .slides > .table-slide > table * {
    font-size: 1rem;
  }
}
